/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/vendor
Homestead.yaml
Homestead.json
/public/assets/img
/bower_components
/bootstrap/compiled.php
.env.example
.env.testing
composer.lock
composer.phar
/.idea
.idea/*
*.log
tests/_output/*
/public/exports/*
.DS_Store
/public/.DS_Store
/public/assets/.DS_Store
tests/_output/*
/storage/app/*
